ml_algorithm: regression # classification, regression
ignore_warnings: True
fingerprint_file: ToxCast_CSIfps_10k
fingerprint_file_transposed: 1
file_format: .parquet.gzip
remote_data_dir: ../../../pytcpl/data/output/

activity_threshold: 0.5  # Activity threshold on continuous hitcall for binary classification

random_state: 0 # For reproducibility

train_test_split_ratio: 0.2

load_from_model:  # if apply: only_predict: 1
  use_last_run: 1 # load from last run
  rank: 1
  target_run: 2023-09-28_00-26-22 # load from specific run

apply:
  only_predict: 1  # if 1, do not train, load model from old run
  smote: 0  # oversampling
  feature_selection: 1
  variance_threshold: 0  # only if feature_selection on
  non_negative_matrix_factorization: 0  # only if feature_selection on
  custom_scorer: 0
  threshold_moving: 1
  cytotoxicity_corrected_hitcalls: 0

threshold_moving:
  weight_tpr: 0.5 # A higher weight_tpr value gives more weight to minimizing false negatives.

feature_selection:
  variance_threshold: 0.01

grid_search_cv:
  n_splits: 5 # Number of folds
  n_repeats: 1 # Number of repeats
  scoring: f_beta # recall_macro, f1, roc_auc, accuracy
  # The F1 score is the harmonic mean of the precision and recall. The more generic F_beta score applies additional weights, valuing one of precision or recall more than the other.
  beta: 1 # F-beta = (1 + beta^2) * (precision * recall) / ((beta^2 * precision) + recall),  1 = F1, Two commonly used values for beta are 2, which weighs recall higher than precision, and 0.5, which weighs recall lower than precision.
  n_jobs: -1
  verbose: 1 # 0-3
